<%= simple_form_for @message do |f| %>
<!-- INPUT NICOLAI FOR PROJECT -->
  <div class="assign-to-handy-field">
    <%= f.association :receiver, :include_blank => false, collection: User.where.not(id: current_user) %>
  </div>
  <%= f.input 'content' %>
  <%= f.button :submit, 'Send' %>
<% end %>
