<div class="message <%= user_is_messages_author ? "right" : "" %>">
  <% if message.user.handy %>
    <%= image_tag 'handy.png', class: "avatar" %>
  <% else %>
    <%= image_tag 'client.png', class: "avatar" %>
  <% end %>
  <p><%= message.content %></p>
</div>
