<% project.tasks.each do |task| %>
<%= simple_form_for [project, task], remote: true, html: { id: "form_#{task.id}" } do |f| %>

  <%= f.input :status, label: false, as: :boolean, input_html: { id: "task-check-#{task.id}", class: "task-check", data: { task_id: task.id } } %>
<% end %>
<div class= "project-show-product-body">

    <%= task.description %>

    <%= link_to 'Delete', project_task_path(id: task.project.id, project_id: project.id), method: :delete, class: "btn btn-primary" %></br>
    <%#= link_to 'Edit Task', task_path(task) %>
  <% end %>
</div>

