<!-- nested into project form -->
<li>
  <%= simple_form_for [project, @task] do |f| %>
    <%= f.input :description, label: "Task" , placeholder: "Enter a task description" %>
    <%= f.submit %>
  <% end %>
</li>
</br>
  <%#= link_to_remove_association "remove task", f, class: "btn btn-primary"%>



