<!-- nested into project form -->
<div class= "project-show-card-category">
  <%= simple_form_for [project, @task] do |f| %>
    <%= f.submit "add task"%>
    <%= f.input :description, label: false , placeholder: "Add task ..." %>
  <% end %>
</div>
  <%#= link_to_remove_association "remove task", f, class: "btn btn-primary"%>



