<div class="footer hidden-xs hidden-sm">
  <div class="footer-links">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    From Handy Harry with <i class="fa fa-heart"></i>
  </div>
</div>
