.project-show-avatar-large {
  width: 70px;
  border-radius: 50%;
}

.project-show-message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.project-show-message:last-child {
  border-bottom: none;
}
.project-show-message-body {
  flex-grow: 1;
}
.project-show-message-name {
  padding-left: 10px;
  min-width: 100px;
}
.project-show-message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.project-show-message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.project-show-message-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.project-show-message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.project-show-message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.project-show-message-body p {
  margin: 6px 0;
}
.project-show-message-status {
  font-size: 14px;
  font-weight: bold;
}

.project-show-product {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
}

/* Body design */
.project-show-product-body {
  flex: 1 1 auto;
}
.project-show-product-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.project-show-product-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

.project-show-product-checkbox {
  padding-left: 20px;
}

/* Controls design */
.project-show-product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.project-show-product-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.project-show-product-controls a:hover {
  color: #D3473C !important
}
.project-show-product-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.project-show-product:hover {
  background: #f7f7fa;
  cursor: pointer;
}
.project-show-product-upvote:hover, .product-upvote.product-upvote-upvoted {
  color: #5898f1;
  cursor: pointer;
}
.project-show-product-upvote-upvoted .product-arrow {
  border-bottom-color: #5898f1;
}
// .product:hover .product-upvote {
//   transform: scale(1.2)
// }
.project-show-product:hover .product-controls-hidden a {
  color: #E6E6E6;
}
.project-show-product-upvote:hover .product-arrow {
  border-bottom: 9px solid #5898f1;
}
