/* Caroussel */

.carousel-inner > .item > img {
    margin: 0 auto;
}

/* Caroussel */
.fabutton {
  background: none;
  padding: 0px;
  border: none;
}

.submit-task {
  background: none;
  padding: 0px;
  border: none;
  color: #83DACE;
  font-family: FontAwesome;
}


/* Project show header */

#circle {
  display: flex;
  justify-content: center;
  align-items: center;
}


.project-show-header {
  margin-top: 2em;
}

.project-show-avatar-large {
  position: absolute;
  width: 104px;
  border-radius: 50%;
}

.project-show-contact {
  margin-left: 2em;
}

.project-show-contact > h3 {
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 1.2em;

}


.project-show-appointment {
  margin: 1em 0 auto;
}

.project-show-appointment > div{
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 300px;
}

.project-show-appointment > i{
  font-size: 22px;
}
.project-show-appointment h3{
  margin: 0;
  margin-left: 1em;
  font-size: 25px;
}

/* Project show body */

.project-show-body {
  margin: 2em 1em;
}

.project-show-title {
  display: flex;
  justify-content: space-between;
}

/* Project show info */

.project-show-info {
  display: flex;
  justify-content: space-around;
}

/* Project show task */

.project-show-task {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 21em;
  position: relative;
  padding: 0.5em 0 0.5em 0;
  cursor: pointer;
  border-bottom: solid 1px #ddd;

  &:last-child { border-bottom: none; }
}

.project-show-task-description{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#new_task {
  border: 1px solid #ECECEC;
  width: 21em;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

#task_description {
  border: none;
}

input#new_task {
  color: black;
}

i.fa.fa-paper-plane {
  margin-right: 20px;
}
/* Avatar */




.project-show-message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.project-show-message:last-child {
  border-bottom: none;
}
.project-show-message-body {
  flex-grow: 1;
}

.avatar-large{
  width: 70px;
  border-radius: 50%;
}

.project-show {
  display: grid;
  grid-template-columns:25% 25% 25% 25%;
  grid-template-rows: 20% 10% 60%;
  height: calc(100vh - 70px);
  padding: 30px;
    .project-show-user{
      grid-column: 1 / span 2;
      grid-row: 1 / span 1;
    }
    .project-show-header{
      grid-column: 3 / span 2;
      grid-row: 1 / span 1;
    }
    .project-show-date{
      grid-column: 1 / span 4;
      grid-row: 2 / span 1;
    }
}

#circle {
  position: relative;
  z-index: 1;
}

.project-show-user img {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 80px;
  border-radius: 50%;
  z-index:2;
}

.project-show {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0 20px;
  height: auto;
}

.project-show-header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
    strong {
    font-size: 25px;
    color: rgba(0,0,0,0.9);
    }
    .fa {
      width: 100%;
      font-size: 20px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;
    }
}

.project-show:last-child {
  border-bottom: none;
}

.project-show-deadline {
  padding-left: 10px;
  min-width: 100px;

}

.project-show-body {
  color: rgba(0,0,0,0.4);
  margin: 6px 0;
  text-align: center;
  grid-column: 1 / span 4;
  grid-row: 3 / span 1;
}

@media(max-width: 720px) {
  .grid {
    /* re-define your grid for mobile and tablet */
  }
}

