.inbox-avatar-size {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.inbox {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  position: relative;

  p {
    margin: 10px;
  }
}
.inbox:last-child {
  border-bottom: none;
}
.inbox-body {
  flex-grow: 1;
}
.inbox-name {
  padding-left: 10px;
  min-width: 100px;
}
.inbox-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.inbox-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}

.inbox-body {
  padding-left: 20px;
  h3 {
    color: rgba(0,0,0,0.8);
    font-size: 18px;
  }
  p {
    color: rgba(0,0,0,0.4);
    font-size: 13px;
    margin: 6px 0;
  }
}
.inbox-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}

.inbox-status {
  font-size: 24px;
  font-weight: bold;
  color: lightgrey;
  p {
    font-size: 15px;
  }
  .unread-message {
    color: #F22F17;
  }
}

.unread-message-background {
  background-color: #DFF1EF;

  .inbox-status {
    p {
      color: #8FCFC1;
    }
  }
}

.open-message {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;

  &:hover {
    opacity: 0.1;
  }
}

.contact-btn {
  margin: 5px;
  font-size: 16px;
  background: #FF4A1C;
  color: white;
}
