.fixed-objects {
  width: 100%;
  z-index: 9000000000;
}

.placeholeder {
  display:hidden;
  width: 100%;
}

#head-title {
  padding: 12.5px 15px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 3px;
  color: #3F3F3F;
  background-color: #F2F7FB;
  width: 100% !important;
}

/* Tabs */

.tabs {
  background: #F2F7FB;
  display: flex;
  padding: 10px 10px 0 0px;
  color: white;
}
.tabs a {
  color: white;
  text-decoration: none;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #da552f;
}
.tabs h3 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6)
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  flex: 0 0 50%;
  text-align: center;
  padding: 20px 0;
}
.tab:first-child {
  border-radius: 0px 20px 0px 0;
}

.tab.active {
  background: white;
  color: #83DACE;
  text-decoration: none;
}

/* Data toggle bootstrap */

.accordion-toggle:before{
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  color: #60636A;
}

a:hover,
a:focus {
  text-decoration: none !important;
}


.accordion-toggle.collapsed:before{
  content: "\e080";
  color: #60636A;
}



/* Projectlist */

.projects {
  background: white;
}


/* Project */

.project {
  display: flex;
  align-items: center;
}

/* Card */

.project-card {
  padding: 10px;
  margin: 10px;
  width: 100%;
  height: 150px;
  border-radius: 15px;

  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-position: center;
  color: white;
  position: relative;
  background-color: #83DACE;
  position: relative;
}

.project-card h3 {
  margin: 0;
  font-size: 25px;
}

.tag-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;

}


/* Card-header*/

.card-header {
  display: flex;
}

.card-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.urgent {
  display: none;
}

/* Card-content*/

.card-content {
  margin-top: 20px;
}

.card-content-details {
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 15px;
  padding: 0 5px 0px 15px;
  margin-left: -10px;
  text-shadow: none;
  position: absolute;
  bottom: 15px;
  left: 0;
}

.card-content-details i {
  margin-right: 5px;
  color: #60636B;
}

.card-content-title {
  display: flex;
  align-items: baseline;
}

.card-content-title p {
 margin: 0;
 color: #60636B;
}


.card-content-location {
  display: flex;
  align-items: baseline;
}

.card-content-location p{
  margin: 0;
  color: #60636B;
}

.card-content-contacts {
  position: absolute;
  bottom: 25px;
  right: 45px;
  display: flex;
  justify-content: space-between;
}

.card-content-contacts i {
  margin-right: 15px;
  font-size: 35px !important;
  text-shadow: none;
}

.card-content-contacts i {
  margin-right: 15px;
  font-size: 35px !important;
  text-shadow: none;
}

.card-content-contacts i:hover {
  color: #da552f;
  text-decoration: none;
}


/* Card-content*/

.todo-list {
  font-size: 20px;
  max-width: 15em;
  margin-left: 3em;
  padding: 0.5em 1em;
}

.todo {
  display: flex;
  align-items: baseline;
  width: 12em;
  position: relative;
  padding: 0.5em 0 0.5em 0;
  margin: 0 auto;
  cursor: pointer;
  border-bottom: solid 1px #ddd;

  &:last-child { border-bottom: none; }
}


.checkbox label {
  min-height: 0;
}

.checkbox input[type="checkbox"] {
  margin: 0;
}


.todo {
  form {
    label {
        padding: 0;
        display: flex;
        align-items: baseline;
    }
  }
}

.todo {
  .checkbox input[type="checkbox"] {
    margin-right: 20px;
    position: static;
  }

}

.todo form {
  opacity: 1;
  margin: 0;
  z-index: 1000;
}

.todo .checkbox {
  display: flex;
  align-items: baseline;
}


.todo i {
  position: absolute;
  right: 0;
  top: 1.2em;
}

.todo__state:checked {

  ~ .todo__text {
    transition-delay: 0s;
    color: #5EBEC1;
    opacity: 0.6;
    text-decoration: line-through}
}


//  .checkbox label {
//     display: inline-block;
//     position: relative;
//     padding-left: 5px; }
//     .checkbox label::before {
//       content: "";
//       display: inline-block;
//       position: absolute;
//       width: 17px;
//       height: 17px;
//           left: -7px;
//     top: -24px;
//       margin-left: -20px;
//       border: 1px solid #cccccc;
//       border-radius: 3px;
//       background-color: #fff;
//       -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
//       -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
//       transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
//     .checkbox label::after {
//       display: inline-block;
//       position: absolute;
//       width: 16px;
//       height: 16px;
//       left: -7px;
//       top: -24px;
//       margin-left: -20px;
//       padding-left: 3px;
//       padding-top: 1px;
//       font-size: 11px;
//       color: #555555; }


// .checkbox input[type="checkbox"] {
//     opacity: ; }
//     .checkbox input[type="checkbox"]:focus {
//       outline: thin dotted;
//       outline: 5px auto -webkit-focus-ring-color;
//       outline-offset: -2px; }
//     .checkbox input[type="checkbox"]:checked  {
//       font-family: 'FontAwesome';
//       content: "\f00c"; }
//     .checkbox input[type="checkbox"]:disabled  {
//       opacity: 0.65; }
//       .checkbox input[type="checkbox"]:disabled  {
//         background-color: #eeeeee;
//         cursor: not-allowed; }

// .checkbox input[type="checkbox"]:checked + label::before {
//   background-color: #428bca;
//   border-color: #428bca; }
// .checkbox input[type="checkbox"]:checked + label::after {
//   color: #fff; }

